.react-datetimerange-picker__wrapper {
  border: none !important;
}

.react-datetimerange-picker__inputGroup__input {
  padding: 0 !important;
}
.react-datetimerange-picker__inputGroup {
  padding: 0 !important;
  min-width: max-content !important;
}

.react-datetimerange-picker__range-divider {
  white-space: pre;
}

.react-datetimerange-picker__inputGroup__minute ~ .react-datetime-picker__inputGroup__divider {
  display: none !important;
}

.react-datetimerange-picker__inputGroup__amPm {
  appearance: none !important;
  text-transform: lowercase;

  &::-ms-expand {
    display: none;
  }
}
